body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #0d1828;
    color: #bdbdbd;
}

.container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #0d1828;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
}

input[type="text"],
input[type="number"] {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    text-align: center;
}

button {
    background-color: #bdbdbd;
    color: #0d1828;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #bdbdbd;
}

.radio-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.radio-label {
    font-size: 18px;
    padding: 10px;
    background-color: #bdbdbd;
    color: #0d1828; /* Cambiado a #0d1828 */
    border-radius: 5px;
    cursor: pointer;
}

.radio-label input {
    display: none;
}

.radio-label:hover {
    background-color: #bdbdbd;
}

input[type="radio"]:checked + label {
    background-color: #0d1828; /* Cambiado a #0d1828 */
    color: white;
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ffffff;
}

th, td {
    padding: 10px;
    text-align: center;
}
